@charset "utf-8";
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins.ttf);
}
@font-face {
    font-family: Staatliches;
    src: url(../fonts/Staatliches.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
}