@charset "utf-8";

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins.ttf);
}

@font-face {
    font-family: Staatliches;
    src: url(../fonts/Staatliches.ttf);
}

:root {
    --background-header: #535971;
    --background-btn: #FF5374;
    --background-input: #FAFAFC;
    --border-input: #E6E6F0;
    --main: #EFEFEF;
    --label-input: #4E4958;
    --info-label: #C1BCCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: var(--main);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    
}

/*HEADER*/
header {
    background-color: var(--background-header);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 436px;
}

.boxHeader {
    width: 100%;
    max-width: 750px;
}

.boxHeader h1 {
    font-family: Staatliches;
    font-weight: 400;
    font-size: 3rem;
    line-height: 60px;
    color: #fff;
    margin-bottom: 18px;
}

.boxHeader p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

/*FORMULARIO*/
.containerForm {
    margin-top: -90px;
    background-color: #fff;
    width: 100%;
    max-width: 750px;
    padding: 65px 65px 0 65px;
    border-radius: 20px 20px 0 0;
    padding-bottom: 20px;
}

h3 {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 34px;
    margin-top: 30px;
    color: var(--background-header);
}

#primeiroh3 {
    margin-top: 0;
}

h4 {
    color: var(--background-header);
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
}

hr{
    border: 1px solid var(--border-input);
    margin-top: 8px;
    margin-bottom: 36px;
}

.containerForm .infoPessoal__nomeComp {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.infoPessoal__email__span,
.mentor__span,
.primeiraMentoria__span {
    display: flex;
    align-items: center;
}

.legenda {
    margin: 6px 0 0 7px;
    color: #C1BCCC;
    font-size: 0.9rem;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    color: #4E4958;
    margin-bottom: 8px;
    margin-top: 16px;
}

.containerForm__inpt {
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    width: 100%;
    height: 56px;
    outline: 0;
    color: var(--background-header);
    font-size: 1rem;
    padding-inline-start: 10px;
}

.infoPessoal__nomeComp .infoPessoal__nome {
    flex: 1;
    margin-right: 22px;
}

.infoPessoal__nomeComp .infoPessoal__sobreNome {
    flex: 1;
}

.horarios__gridBlock {
    display: grid;
    grid-template-columns: 2.25fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    max-height: 130px;
}

.horarios__gridBlock__data {
    padding-right: 20px;
}

.horarios__gridBlock__data--flex {
    display: flex;
    align-items: center;
}

/*AREA DO BOTAO SALVAR*/
.buttonArea {
    background-color: var(--background-header);
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 750px;
    margin-bottom: 90px;
    padding: 52px 70px;
    border-radius: 0 0 20px 20px;
}
.buttonArea button{
    font-family: Staatliches ;
    font-size: 1.2rem;
    width: 100%;
    height: 3.5rem;
    color: #fff;
    border: none;
    border-radius: 20px;
    background-color: var(--background-btn);
    transition: background-color .3s ease-in-out;
}
.buttonArea button:hover, .buttonArea button:active{
    background-color: #d1667c ;
    cursor: pointer;
}

/* Tela de confirmação das infos */

.ocultar{
    display: none;
}

.page2--flex{
    width: 100vw;
    display: flex;
    justify-content: center;
}

#page2{
    width: 750px;
}

h5{
    color: var(--background-header);
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 1.2rem;
    margin: 30px 0 20px 0;
    border-top: rgba(189, 189, 189, 0.808) 1px solid;
}

#primeirohr{
    margin-bottom: 0;
}

.mentoria--info{
    color: var(--background-header);
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
}

.info--flex{
    display: flex;
    align-items: center;
}

#userName, 
#userEmail, 
#userSenha,
#userMentor{
    margin: 5px 0 0 20px;
    color: var(--background-header);
    font-family: 'Gill Sans', 'Calibri', 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid var(--background-header);
}

.ment{
    display: flex;
    align-items: center;
}

#das1, #ate1, #das2, #ate2{
    margin: 5px 0 0 20px;
    color: var(--background-header);
    font-family: 'Gill Sans', 'Calibri', 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid var(--background-header);
}

@media screen and (max-width: 768px){
.containerForm,.buttonArea{
    border-radius: 0;
    max-width: none;
}
header{
    height: 400px;
}

.boxHeader h1, .boxHeader p{
    text-align: center;
}
#page2{
    width: 100%;
}

}

@media screen and (max-width: 500px){
   
    /*FORMULARIO*/
    .containerForm {
        max-width: 100%;
    }
    
    h3 {
        font-size: 1.3rem;
    }
    
    h4 {
        font-size: 1.1rem;
    }
    main .containerForm h3, main .containerForm h4{
        text-align: center !important;
    }
    
    hr{
        margin-top: 8px;
        margin-bottom: 25px;
    }
    
    .containerForm .infoPessoal__nomeComp {
        display: block;
    }
    
    .legenda {
        display: none;
    }
    
    p {
        text-align: center;
        font-size: 0.9rem;
    }
    
    input{
        margin-bottom: 20px;
    }
    
    .infoPessoal__nomeComp .infoPessoal__nome {
        margin-right: 0px;
    }

    .infoPessoal__email__span, .mentor__span{
        display: flex;
        justify-content: center;
    }
    
    .horarios__gridBlock {
        grid-template-columns: 1fr 1fr 1fr;
        max-height: 270px;
        margin-bottom: 40px;
    }
    
    .horarios__gridBlock__data {
        padding: 10px 30px 0 30px;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    .horarios__gridBlock__das{
        grid-column-start: 1;
        grid-column-end: 2;
        
    }
    .horarios__gridBlock__ate{
        grid-column-start: 3;
        grid-column-end: 4;
    }
    
    .horarios__gridBlock__data--flex {
        justify-content: center;
    }
}